* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    font-family: 'Roboto', sans-serif;
    background-color: #21E6C1;
}

.navigation{
    background: rgba(0, 198, 161, 0.5);
}

/* The Overlay (background) */
.overlay {
/* Height & width depends on how you want to reveal the overlay (see JS below) */   
height: 100%;
width: 0;
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
left: 0;
top: 0;
background: rgba(7, 30, 61, 0.8);
overflow-x: hidden; /* Disable horizontal scroll */
transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
position: relative;
top: 5%; /* 25% from the top */
width: 100%; /* 100% width */
text-align: center; /* Centered text/links */
margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay li {
padding: 8px;
font-size: 20px;
transition: 0.3s; /* Transition effects on hover (color) */
}

.overlay a {
    text-decoration: none;
    color: #21E6C1;
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover {
color: #EB6475;
}

.overlay .sign{
    color: #EB6475;
    padding: 10px 50px;
    border: 1px solid #21E6C1;
    border-radius: 26px;
}

.overlay .sign:hover {
    color: #21E6C1;
    border: 1px solid #EB6475;;
}

.overlay img {
    padding: 20px 0px 0px;
}

.overlay .motto {
    font-size: 11.5px;
    line-height: 11px;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
position: absolute;
top: 0.5%;
right: 45px;
font-size: 40px;
}

.hero {
    color: #071E3D;
}

.hero h6 {
    font-size: 12px;
    font-weight: normal;
    line-height: 11px;
}

.hero h5{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.5em;
}

.hero .launch{
    font-size: 9px;
    line-height: 11px;
    color: #1F4287;
}



.brief1 h3 {
    color: #21E6C1;
    font-size: 2.25rem;
}

.brief1 span,
.brief2 span {
    color: #EB6475;
    font-size: 2.5rem;
}

.brief2 {
    color: #071E3D;
}

.brief1 h5,
.brief1 p {
    color: #21E6C1;
}
  
.count-down {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    text-align: center;
    font-size: 26px;
}

.digital-clock {
    padding: 6px;
    color: #071E3D;
    border-radius: 3px;
    display: inline-block;
}

.digital-clock span{
    padding: 8px;
    border-radius: 3px;
    background: #00C6A1;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    display: inline-block;
    letter-spacing: 6px;
}

.smalltext{
    padding: 5px 5px 8px;
    font-size: 8px;
    color: #1F4287;
}

.email-area {
    background: #00C6A1;
    border-radius: 1.15px;
    color: #144F53;
    font-size: 8px;
    display: block;
    padding: 2px 10px;
    width: 100%;
    margin: 0px auto;
    border: 1px solid transparent;
}

.submit-btn {
    background: #144F53;
    border-radius: 1px 9px 9px 1px;
    text-align: center;
    padding: 2px 10px;
    font-size: 8px;
    color: #21E6C1;
    border: 1px solid transparent;
}

.brief1 {
    background: rgba(7, 30, 61, 0.8);
    color: #21E6C1;
}

.feat img {
    padding: 2px;
    width: 60%;
}

.feat {
    padding: 14px;
    background: #00C6A1;
    border: 1px solid #21E6C1;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.brief2 h6 {
    font-size: 12px;
}

.brief2 p {
    font-size: 10px;
    width: 55%;
    margin: 0 auto;
}

.mail-list h6 {
    font-size: 12px;
}

.mail-list p {
    font-size: 8px;
}

.cta-btn {
    background-color: #21E6C1;
    color: #071E3D;
    cursor: pointer;
    font-size: 8px;
    padding: 6px 10px;
    border: 1px solid #071E3D;
    border-radius: 14px;
}

footer {
    background: #071E3D;
    color: #21E6C1;
}

.icons img {
    margin: 2px;
    padding: 2px;
    width: 6%;
}

.address {
    font-size: 8px;
    line-height: 9px;
}

.book {
    margin: 0 auto;
}

.book img {
    width: 10%;
    padding: 2px;
}

.foot-btn {
    color:  #071E3D;
    background: #21E6C1;
    font-size: 8px;
    padding: 6px 28px;
    border-radius: 14px;
    margin-left: 10px;
}

.foot-logo {
    width: 40%;
}

.privacy h6 {
    font-size: 10px;
}

.privacy p {
    font-size: 8px;
    line-height: 20px;
    padding-left: 4px;
    border-left: 0.3px solid #EB6475;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
    }